.box-model {
    width: 320px;
    /* padding: 30px; */
    border: 5px solid gray;
    margin: 10px;
    display: inline-block;
    /* padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 40px; */
    /* top right bottom left */
    /* padding: 20px 35px 40px 30px; */
    /* top left&right bottom */
    /* padding: 20px 10px 30px; */
    /* top&bottom left&right */
    padding: 20px 30px;
}